In [3]:
# Librerías necesarias
import pandas as pd

# Ruta al archivo 
ruta = '../data/raw_data/REMserieA2024.csv'

# Leer el CSV (ajusta el nombre según tu archivo)
df = pd.read_csv(ruta,sep=';',encoding='latin1')
dfdf.fillna(0)
# Ver las primeras filas
df.head()

,Mes,IdServicio,Ano,IdEstablecimiento,CodigoPrestacion,IdRegion,IdComuna,Col01,Col02,Col03,...,Col41,Col42,Col43,Col44,Col45,Col46,Col47,Col48,Col49,Col50
0,10,5,2024,105100,09600394,4,4101,182.0,94.0,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10,5,2024,105100,09600412,4,4101,3.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,10,5,2024,105100,11052700,4,4101,2.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,10,5,2024,105100,11052800,4,4101,2.0,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,10,5,2024,105100,11053000,4,4101,137.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,NaN,NaN

In [4]:
df=df.fillna(0)

In [6]:
df.head()

,Mes,IdServicio,Ano,IdEstablecimiento,CodigoPrestacion,IdRegion,IdComuna,Col01,Col02,Col03,...,Col41,Col42,Col43,Col44,Col45,Col46,Col47,Col48,Col49,Col50
0,10,5,2024,105100,09600394,4,4101,182.0,94.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10,5,2024,105100,09600412,4,4101,3.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10,5,2024,105100,11052700,4,4101,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10,5,2024,105100,11052800,4,4101,2.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10,5,2024,105100,11053000,4,4101,137.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0

In [ ]:
"""
-------
REM-A04
-------
Seccion A: Consultas Medicas
03020101	IRA Alta
03020201	Síndrome Bronquial Obstructivo 
03020301	Neumonía 
03020402	Exacerbación Asma 
03020403	Enfermedad Pulmonar Obstructiva Crónica 
03020401	Otras respiratorias 
03040210	Obstétrica 
03040220	Ginecológica 
04040100	Ginecológica por Infertilidad 
04025010	Infección Transmisión Sexual 
04025020	VIH-SIDA
04025025	Salud Mental
04040427	Cardiovascular
03020501	Otras Morbilidades
--------
columnas:
COL01       Total, Ambos sexos
COL41       Total, Migrantes
========

SECCIÓN B: CONSULTAS DE PROFESIONALES NO MÉDICOS 
03020702	Enfermera/o
04025030	Matrona/ón (Morb. Ginecológica)
04025040	Matrona/ón (ITS)
04040200	Matrona/ón (Infertilidad) 
04025050	Matrona/ón (Otras consultas) 
04050100	Matrona/ón (Salud sexual) 
09600278	Matrona/ón (Piso pélvico) 
03020604	Nutricionista (Otras consultas) 
04050110	Nutricionista malnutrición por exceso 
04050120	Nutricionista malnutrición por déficit 
03020908	Psicólogo/a 
03030250	Fonoaudiólogo/a
03030270	Terapeuta Ocupacional 
03030280	Tecnólogo/a Médico/a  (Excluye UAPO)
03020806	Trabajador/a Social (Excluye Salud Mental) 
04070100	Educadora de Párvulos
--------
columnas:
COL01       Total, Ambos sexos
COL41       Total, Migrantes
"""

In [ ]:
"""
-------
REM-A07
-------
SECCIÓN A : CONSULTAS MÉDICAS DE ESPECIALIDAD
07020130	Pediatría
07020230	Medicina Interna
07020330	Neonatología
07020331	Enfermedad Respiratoria Pediátrica (Broncopulmonar Infantil)
07020332	Enfermedad Respiratoria de Adulto (Broncopulmonar)
07024219	Cardiología Pediátrica
07020500	Cardiología Adulto
07020501	Endocrinología Pediátrica
07020600	Endocrinología Adulto
07020601	Gastroenterología Pediátrica
07020700	Gastroenterología Adulto
07020800	Genética Clínica
07020801	Hemato-Oncología Infantil
07020900	Hematología Adulto
07020901	Nefrología Pediátrica
07021000	Nefrología Adulto
07021001	Nutriólogo Pediátrico
07021100	Nutriólogo Adulto
07021101	Reumatología Pediátrica
07021230	Reumatología Adulto
07021300	Dermatología
07021301	Infectología Pediátrica
07022000	Infectología Adulto
07022001	Inmunología
07021531	Geriatría
07022132	Medicina Física y Rehabilitación Pediátrica (Fisiatría Pediátrica)
07022133	Medicina Física y Rehabilitación Adulto (Fisiatría Adulto)
07022134	Neurología Pediátrica
07021700	Neurología Adulto
07021800	Oncología Médica
07021801	Psiquiatría Pediátrica y de La Adolescencia
07021900	Psiquiatría Adulto
07022130	Cirugía Pediátrica
07022142	Cirugía General Adulto
07022143	Cirugía Digestiva (Alta)
07022144	Cirugía de Cabeza, Cuello y Maxilofacial
07022135	Cirugía Plástica y Reparadora Pediátrica
07022136	Cirugía Plástica y Reparadora Adulto
07022137	Coloproctología (Cirugía Digestiva Baja)
07022700	Cirugía Tórax
07022800	Cirugía Vascular Periférica
07022900	Neurocirugía
07021701	Cirugía Cardiovascular
07023100	Anestesiología
07023200	Obstetricia
07023201	Ginecología Pediátrica y de la Adolescencia
07023202	Ginecología Adulto
07023203	Oftalmología
07023700	Otorrinolaringología
07023701	Traumatología y Ortopedia Pediátrica
07023702	Traumatología y Ortopedia Adulto
07023703	Urología Pediátrica
07024000	Urología Adulto
07024001	Medicina Familiar del Niño
07024200	Medicina Familiar
07030500	Medicina Familiar Adulto
07024201	Diabetología
07024202	Medicina Nuclear (Excluye Informes)
07030501	Imagenología
07030502	Radioterapia Oncológica
--------
Columnas
COL01       Total


"""

In [ ]:
"""
-------
REM-A08
-------
""""