In [48]:
import pandas as pd
# Cargar archivo excel (censo poblacion - Regiones)

ruta = '../data/raw_data/censo2024_poblacion.xlsx' 
df_region = pd.read_excel(ruta, engine="openpyxl", sheet_name="1", header=3)

# Mostrar las primeras filas
df_region=df_region.iloc[:-2]
df_region.head()

,Código región,Región,Población censada,Hombres,Mujeres,Razón hombre-mujer
0,0,País,18480432.0,8967033.0,9513399.0,94.3
1,15,Arica y Parinacota,244569.0,120381.0,124188.0,96.9
2,1,Tarapacá,369806.0,183343.0,186463.0,98.3
3,2,Antofagasta,635416.0,313995.0,321421.0,97.7
4,3,Atacama,299180.0,148263.0,150917.0,98.2

In [49]:
df_region.to_csv('../data/processed_data/censo/censo_poblacion/poblacion_pais.csv', index=False)

In [24]:
# Cargar archivo excel (censo poblacion - Comunas)

ruta = '../data/raw_data/censo2024_poblacion.xlsx' 
df_comuna = pd.read_excel(ruta, engine="openpyxl", sheet_name="2", header=3)

# Mostrar las primeras filas
df_comuna=df_comuna.iloc[:-2]
df_comuna.head()

,Código región,Región,Código provincia,Provincia,Código comuna,Comuna,Población censada,Hombres,Mujeres,Razón hombre-mujer
0,0,País,0.0,País,0.0,País,18480432.0,8967033.0,9513399.0,94.3
1,15,Arica y Parinacota,151.0,Arica,15101.0,Arica,241653.0,118844.0,122809.0,96.8
2,15,Arica y Parinacota,151.0,Arica,15102.0,Camarones,861.0,430.0,431.0,99.8
3,15,Arica y Parinacota,152.0,Parinacota,15201.0,Putre,1547.0,846.0,701.0,120.7
4,15,Arica y Parinacota,152.0,Parinacota,15202.0,General Lagos,508.0,261.0,247.0,105.7

In [16]:
df_comuna[["Región","Comuna"]].head()

               Región         Comuna
0                País           País
1  Arica y Parinacota          Arica
2  Arica y Parinacota      Camarones
3  Arica y Parinacota          Putre
4  Arica y Parinacota  General Lagos

In [25]:
regiones = df_comuna["Región"].unique().tolist()

regiones.remove("País")

print(regiones)

['Arica y Parinacota', 'Tarapacá', 'Antofagasta', 'Atacama', 'Coquimbo', 'Valparaíso', 'Metropolitana de Santiago', "Libertador General Bernardo O'Higgins", 'Maule', 'Ñuble', 'Biobío', 'La Araucanía', 'Los Ríos', 'Los Lagos', 'Aysén del General Carlos Ibáñez del Campo', 'Magallanes y de la Antártica Chilena']

In [21]:
print(regiones)

['Arica y Parinacota', 'Tarapacá', 'Antofagasta', 'Atacama', 'Coquimbo', 'Valparaíso', 'Metropolitana de Santiago', "Libertador General Bernardo O'Higgins", 'Maule', 'Ñuble', 'Biobío', 'La Araucanía', 'Los Ríos', 'Los Lagos', 'Aysén del General Carlos Ibáñez del Campo', 'Magallanes y de la Antártica Chilena', nan]

In [28]:
dfs = []
for region in regiones:
    censo_region = df_comuna[df_comuna["Región"] == region]
    dfs.append(censo_region)

In [31]:
dfs[4]["Región"].iloc[0]

'Coquimbo'

In [39]:
for df in dfs:
    nombre = df["Región"].iloc[0]
    codigo = df["Código región"].iloc[0]
    df.to_csv(f'../data/processed_data/censo/censo_poblacion/poblacion_comunas_{codigo}_{nombre}.csv', index=False)

In [42]:
### testing

ruta = "../data/processed_data/censo/censo_poblacion/poblacion_pais.csv"

df_pais = pd.read_csv(ruta)
df_pais.head()

,Código región,Región,Población censada,Hombres,Mujeres,Razón hombre-mujer
0,0,País,18480432.0,8967033.0,9513399.0,94.3
1,15,Arica y Parinacota,244569.0,120381.0,124188.0,96.9
2,1,Tarapacá,369806.0,183343.0,186463.0,98.3
3,2,Antofagasta,635416.0,313995.0,321421.0,97.7
4,3,Atacama,299180.0,148263.0,150917.0,98.2

In [40]:
### testing 2

ruta = "../data/processed_data/censo/censo_poblacion/poblacion_comunas_5_Valparaíso.csv"

df_pais = pd.read_csv(ruta)
df_pais.head()

,Código región,Región,Código provincia,Provincia,Código comuna,Comuna,Población censada,Hombres,Mujeres,Razón hombre-mujer
0,5,Valparaíso,51.0,Valparaíso,5101.0,Valparaíso,284938.0,138494.0,146444.0,94.6
1,5,Valparaíso,51.0,Valparaíso,5102.0,Casablanca,29876.0,14582.0,15294.0,95.3
2,5,Valparaíso,51.0,Valparaíso,5103.0,Concón,48294.0,23153.0,25141.0,92.1
3,5,Valparaíso,51.0,Valparaíso,5104.0,Juan Fernández,904.0,458.0,446.0,102.7
4,5,Valparaíso,51.0,Valparaíso,5105.0,Puchuncaví,22539.0,11156.0,11383.0,98.0