In [2]:
## TESTING
print("Hello!")

Hello!

In [2]:
import pandas as pd

# Cargar archivo .dta (CASEN)
ruta = '../data/raw_data/raw_casen.dta' 
df = pd.read_stata(ruta, convert_categoricals=False)

# Mostrar las primeras filas
df.head()

C:\Users\Alan\AppData\Local\Temp\ipykernel_23392\3514584927.py:5: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  df = pd.read_stata(ruta, convert_categoricals=False)

,id_vivienda,folio,id_persona,region,area,cod_upm,nse,estrato,hogar,expr,...,men18c,may60c,tipohogar,tot_hog,ind_hacina,indsan,ten_viv,ten_viv_f,allega_ext,allega_int
0,1000901,100090101,1,16,2,10009,4,1630324,1,43,...,0,1,3,1,1,1,1,1,0,0
1,1000901,100090101,2,16,2,10009,4,1630324,1,43,...,0,1,3,1,1,1,1,1,0,0
2,1000901,100090101,3,16,2,10009,4,1630324,1,44,...,0,1,3,1,1,1,1,1,0,0
3,1000902,100090201,1,16,2,10009,4,1630324,1,51,...,1,1,5,1,1,2,1,1,0,1
4,1000902,100090201,2,16,2,10009,4,1630324,1,51,...,1,1,5,1,1,2,1,1,0,1

In [4]:
# Guardar todas las columnas
cols = df.columns.tolist()

In [ ]:
# Columnas relacionadas con salud
salud_cols = [col for col in cols if 's13' in col.lower()]
print("Columnas relacionadas con salud:", salud_cols)

# Columnas relacionadas con migración o nacionalidad
mig_cols = [col for col in cols if 'r1a' in col.lower() or 'estrato'in col.lower() or 'region' in col.lower()]
print("Columnas relacionadas con migración:", mig_cols)

Columnas relacionadas con salud: ['s13', 's13_fonasa']
Columnas relacionadas con migración: ['folio', 'region', 'r1a', 'r1a_esp', 'r1a_esp_cod']

In [42]:
# estrato contiene comuna-area-nse(nivel socio economico)
# primer valor comuna
# area puede ser 1 o 2 -> urbano o rural
# nse(nivel socio economico) -> [1,...,7] => [Bajo, medio, alto, bajo-medio,bajo-alto, bajo-medio-alto, medio-alto]

df[df['estrato'].astype(str).str.startswith("1101")].groupby('estrato').size()

estrato
110111     505
110112    2964
110113    1066
110124     106
dtype: int64

In [44]:
# Selección manual de columnas clave (modificar según resultados anteriores)
cols_interes = ['estrato', 'region', 'r1a', 'r1a_esp', 'r1a_esp_cod','s13', 's13_fonasa']  
subset = df[cols_interes].copy()

# Guardar como CSV
subset.to_csv('../data/procesed_data/casen_subset.csv', index=False)

In [46]:
#Testing

# Cargar archivo .dta (CASEN)
ruta = '../data/procesed_data/casen_subset.csv' 
d1f = pd.read_csv(ruta)

# Mostrar las primeras filas
d1f.head()

   estrato  region  r1a r1a_esp  r1a_esp_cod  s13  s13_fonasa
0  1630324      16    1     NaN          NaN    1         2.0
1  1630324      16    1     NaN          NaN    1         2.0
2  1630324      16    1     NaN          NaN    1         3.0
3  1630324      16    1     NaN          NaN    1         1.0
4  1630324      16    1     NaN          NaN    1       -88.0

In [51]:
d1f[d1f["estrato"]==110111]

        estrato  region  r1a  r1a_esp  r1a_esp_cod  s13  s13_fonasa
4148     110111       1    1      NaN          NaN    1         1.0
4149     110111       1    1      NaN          NaN    1         1.0
4150     110111       1    1      NaN          NaN    1         1.0
4151     110111       1    1      NaN          NaN    1       -88.0
4152     110111       1    1      NaN          NaN    1       -88.0
...         ...     ...  ...      ...          ...  ...         ...
197943   110111       1    1      NaN          NaN    1       -88.0
197944   110111       1    3  Bolivia        502.0    4         NaN
197945   110111       1    3  Bolivia        502.0    4         NaN
197946   110111       1    3  Bolivia        502.0    4         NaN
197947   110111       1    3  Bolivia        502.0    4         NaN

[505 rows x 7 columns]