# Calculos preliminares - Atenciones en red publica

## Importar librerias

In [12]:
import pandas as pd

## Lectura csv
Se lee el archivo csv preprocesado del total de atenciones.

In [13]:
ruta = '../../data/processed_data/total_atenciones.csv'

df = pd.read_csv(ruta)

## Crear csv con informacion comunal

### Agrupación
Se agrupa segun el codigo de region, comuna y mes correspondiente a la totalidad de pacientes y totalidad de pacientes migrantes atendidos.

In [14]:
df_stats = (
    df
    .groupby(["IdRegion","IdComuna", "Mes"], as_index=False)
    .agg({
        "total_pacientes": "sum",
        "total_migrantes": "sum"
    })
)
df_stats.head()

   IdRegion  IdComuna  Mes  total_pacientes  total_migrantes
0         1      1101    1          14691.0           2651.0
1         1      1101    2          14370.0           2932.0
2         1      1101    3          15944.0           3274.0
3         1      1101    4          19360.0           4023.0
4         1      1101    5          16217.0           3617.0

### Obtención de indicadores estadisticos
Se calcula indicadores de promedio y mediana para visualizar el promedio y mediana de atenciones en el año para pacientes y pacientes migrantes.

In [15]:
df_stats_mean = (
    df_stats
    .groupby(["IdRegion","IdComuna"], as_index=False)
    .agg({
        "total_pacientes": ["mean", "median"],
        "total_migrantes": ["mean", "median"]
    })
)

df_stats_mean.columns = [
    "IdRegion",
    "IdComuna",
    "promedio_pacientes",
    "mediana_pacientes",
    "promedio_migrantes",
    "mediana_migrantes"
]

In [16]:
df_stats_mean.head()

,IdRegion,IdComuna,promedio_pacientes,mediana_pacientes,promedio_migrantes,mediana_migrantes
0,1,1101,14768.083333,14951.5,2964.916667,2950.5
1,1,1107,9143.833333,9362.0,1372.916667,1341.5
2,1,1401,1738.166667,1737.0,222.833333,217.5
3,1,1402,413.916667,401.5,88.166667,95.5
4,1,1403,331.250000,280.5,120.000000,48.5

### Cálculo indicador porcentaje
Obtenemos la proporcion de pacientes migrantes con respecto a la totalidad de pacientes.

In [17]:
df_stats_mean["porcentaje_migrantes_promedio"] = round((df_stats_mean["promedio_migrantes"] / df_stats_mean["promedio_pacientes"] * 100),2)
df_stats_mean.head()

,IdRegion,IdComuna,promedio_pacientes,mediana_pacientes,promedio_migrantes,mediana_migrantes,porcentaje_migrantes_promedio
0,1,1101,14768.083333,14951.5,2964.916667,2950.5,20.08
1,1,1107,9143.833333,9362.0,1372.916667,1341.5,15.01
2,1,1401,1738.166667,1737.0,222.833333,217.5,12.82
3,1,1402,413.916667,401.5,88.166667,95.5,21.30
4,1,1403,331.250000,280.5,120.000000,48.5,36.23

### Importamos csv con codigo de comuna

In [18]:
ruta_comuna = '../../data/processed_data/codigo_comuna.csv'
df_comuna = pd.read_csv(ruta_comuna)
df_comuna.head()

   Código comuna         Comuna
0          15101          Arica
1          15102      Camarones
2          15201          Putre
3          15202  General Lagos
4           1101        Iquique

### Union de dataframe con nombre de comuna

In [19]:
df_full = df_stats_mean.merge(
    df_comuna,  
    left_on="IdComuna",
    right_on="Código comuna",
    how="left"
)

df_full = df_full[["Código comuna","Comuna","promedio_pacientes","mediana_pacientes","promedio_migrantes","mediana_migrantes", "porcentaje_migrantes_promedio"]]

In [20]:
df_full.head(20)

,Código comuna,Comuna,promedio_pacientes,mediana_pacientes,promedio_migrantes,mediana_migrantes,porcentaje_migrantes_promedio
0,1101,Iquique,14768.083333,14951.5,2964.916667,2950.5,20.08
1,1107,Alto Hospicio,9143.833333,9362.0,1372.916667,1341.5,15.01
2,1401,Pozo Almonte,1738.166667,1737.0,222.833333,217.5,12.82
3,1402,Camiña,413.916667,401.5,88.166667,95.5,21.30
4,1403,Colchane,331.250000,280.5,120.000000,48.5,36.23
5,1404,Huara,476.916667,495.5,110.166667,108.5,23.10
6,1405,Pica,902.416667,903.5,153.833333,152.5,17.05
7,2101,Antofagasta,22050.166667,21252.0,3897.916667,3990.0,17.68
8,2102,Mejillones,1765.000000,1773.5,466.250000,494.5,26.42
9,2103,Sierra Gorda,318.166667,318.5,48.333333,38.5,15.19
10,2104,Taltal,1015.916667,1009.5,52.583333,49.5,5.18
11,2201,Calama,8531.500000,8576.5,1622.333333,1606.5,19.02
12,2202,Ollagüe,30.750000,29.5,0.083333,0.0,0.27
13,2203,San Pedro de Atacama,953.750000,995.5,271.250000,271.0,28.44
14,2301,Tocopilla,996.666667,982.5,119.250000,119.5,11.96
15,2302,María Elena,342.833333,331.5,47.916667,51.0,13.98
16,3101,Copiapó,10615.000000,10520.0,521.916667,515.5,4.92
17,3102,Caldera,1739.750000,1769.0,4.333333,4.0,0.25
18,3103,Tierra Amarilla,1933.666667,1961.0,132.166667,131.5,6.84
19,3201,Chañaral,1691.500000,1682.5,2.083333,2.0,0.12

### Exportacion a csv con informacion comunal

In [21]:
df_full.to_csv('../../data/processed_data/total_atenciones_promedio.csv', index=False)

## Creacion csv con información regional

### Agrupacion
Se agrupa csv segun codigo de region y mes de atencion

In [22]:
df_stats_region = (
    df
    .groupby(["IdRegion", "Mes"], as_index=False)
    .agg({
        "total_pacientes": "sum",
        "total_migrantes": "sum"
    })
)
df_stats_region.head()

   IdRegion  Mes  total_pacientes  total_migrantes
0         1    1          27776.0           4532.0
1         1    2          27445.0           4438.0
2         1    3          28856.0           5207.0
3         1    4          33488.0           6420.0
4         1    5          29487.0           5573.0

### Calculo de metricas
Se obtiene indicador de promedio y mediana por region

In [23]:
df_stats_mean = (
    df_stats_region
    .groupby(["IdRegion"], as_index=False)
    .agg({
        "total_pacientes": ["mean", "median"],
        "total_migrantes": ["mean", "median"]
    })
)

df_stats_mean.columns = [
    "IdRegion",
    "promedio_pacientes",
    "mediana_pacientes",
    "promedio_migrantes",
    "mediana_migrantes"
]

In [24]:
df_stats_mean.head()

,IdRegion,promedio_pacientes,mediana_pacientes,promedio_migrantes,mediana_migrantes
0,1,27774.583333,28100.0,5032.833333,5145.0
1,2,36004.750000,35229.5,6525.916667,6580.5
2,3,23345.083333,23232.0,801.833333,814.5
3,4,59931.500000,62935.5,1503.333333,1619.5
4,5,151705.000000,151074.0,2473.916667,1893.0

### Calculo indicador porcentaje
Calculamos la proporcion de poblacion migrante respecto al total de atenciones regional

In [25]:
df_stats_mean["porcentaje_migrantes_promedio"] = round((df_stats_mean["promedio_migrantes"] / df_stats_mean["promedio_pacientes"] * 100),2)
df_stats_mean.head()

,IdRegion,promedio_pacientes,mediana_pacientes,promedio_migrantes,mediana_migrantes,porcentaje_migrantes_promedio
0,1,27774.583333,28100.0,5032.833333,5145.0,18.12
1,2,36004.750000,35229.5,6525.916667,6580.5,18.13
2,3,23345.083333,23232.0,801.833333,814.5,3.43
3,4,59931.500000,62935.5,1503.333333,1619.5,2.51
4,5,151705.000000,151074.0,2473.916667,1893.0,1.63

## Exportación a csv con información regional

In [26]:
df_stats_mean.to_csv('../../data/processed_data/total_atenciones_promedio_regiones.csv', index=False)