In [3]:
import pandas as pd
## csv inmigracion
ruta = "../../data/processed_data/censo/censo_inmigracion/inmigracion_pais.csv"

df_inmigracion = pd.read_csv(ruta)
df_inmigracion.head()

,Código región,Región,Inmigrantes internacionales,Hombres,Mujeres,Razón hombre-mujer,Lugar de nacimiento no declarado
0,0,País,1608650.0,776388.0,832262.0,93.3,113061.0
1,15,Arica y Parinacota,36188.0,17044.0,19144.0,89.0,2010.0
2,1,Tarapacá,84935.0,39736.0,45199.0,87.9,3019.0
3,2,Antofagasta,124006.0,57501.0,66505.0,86.5,4660.0
4,3,Atacama,25167.0,11942.0,13225.0,90.3,1944.0

In [4]:
## csv poblacion
ruta = "../../data/processed_data/censo/censo_poblacion/poblacion_pais.csv"

df_poblacion = pd.read_csv(ruta)
df_poblacion.head()

,Código región,Región,Población censada,Hombres,Mujeres,Razón hombre-mujer
0,0,País,18480432.0,8967033.0,9513399.0,94.3
1,15,Arica y Parinacota,244569.0,120381.0,124188.0,96.9
2,1,Tarapacá,369806.0,183343.0,186463.0,98.3
3,2,Antofagasta,635416.0,313995.0,321421.0,97.7
4,3,Atacama,299180.0,148263.0,150917.0,98.2

In [5]:
df_inm_data = df_inmigracion[["Código región","Región","Inmigrantes internacionales"]]
df_pob_data = df_poblacion[["Código región","Región","Población censada"]]



# Renombrar las columnas de población antes del merge
df_pob_data = df_pob_data.rename(columns={"Población censada": "poblacion_total"})
df_inm_data = df_inm_data.rename(columns={"Inmigrantes internacionales": "poblacion_migrante"})

# Hacer el merge
df_merged = df_pob_data.merge(df_inm_data, on=["Código región", "Región"])

In [6]:
df_merged["porcentaje"] = round(df_merged["poblacion_migrante"] / df_merged["poblacion_total"] * 100,2)

In [7]:
df_merged

,Código región,Región,poblacion_total,poblacion_migrante,porcentaje
0,0,País,18480432.0,1608650.0,8.70
1,15,Arica y Parinacota,244569.0,36188.0,14.80
2,1,Tarapacá,369806.0,84935.0,22.97
3,2,Antofagasta,635416.0,124006.0,19.52
4,3,Atacama,299180.0,25167.0,8.41
5,4,Coquimbo,832864.0,44578.0,5.35
6,5,Valparaíso,1896053.0,100655.0,5.31
7,13,Metropolitana de Santiago,7400741.0,964835.0,13.04
8,6,Libertador General Bernardo O'Higgins,987228.0,49272.0,4.99
9,7,Maule,1123008.0,42349.0,3.77
10,16,Ñuble,512289.0,10934.0,2.13
11,8,Biobío,1613059.0,46933.0,2.91
12,9,La Araucanía,1010423.0,21077.0,2.09
13,14,Los Ríos,398230.0,7508.0,1.89
14,10,Los Lagos,890284.0,35285.0,3.96
15,11,Aysén del General Carlos Ibáñez del Campo,100745.0,3931.0,3.90
16,12,Magallanes y de la Antártica Chilena,166537.0,10997.0,6.60

In [9]:
df_merged.to_csv('../../data/processed_data/preliminar_estadisticas/pais/estadisticas_pais.csv', index=False)